body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 14px;
  overflow-x: hidden;
  --red: #fd0000;
  --blue: #004cfe;
}
#root {
  position: relative;
  overflow-x: hidden;
}
#scrollUp {
  position: fixed;
  bottom: 30px;
  left: 20px;
  width: 45px;
  height: 45px;
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
  transform: translateX(-80px);
  transition: all 0.3s;
  border-radius: 50%;
}
/* Header */
header {
  position: relative;
  display: flex;
  justify-content: center;
  height: 140px;
  z-index: 2;
}
img.header__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}
.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  z-index: 1;
}
.header__logo {
  flex: 1;
}
nav {
  display: flex;
  justify-content: space-between;
  flex: 2;
}
nav span {
  color: #fff;
  cursor: pointer;
}
.header__sn {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

/*Main Screen*/
section.mainScreen {
  height: calc(100vh - 140px);
  position: relative;
  z-index: 1;
}
img.mainScreen__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.mainScreen__wrap {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 1;
  margin-left: 10%;
}
/*/Main Screen/*/
.generalTitle {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 70px;
}
.generalTitle__red::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  background: var(--red);
}
.generalTitle__red::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  background: var(--red);
}
.generalTitle__blue::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  background: var(--blue);
}
.generalTitle__blue::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  background: var(--blue);
}
.generalTitle__solid_red {
  background: var(--red);
}
.generalTitle__solid_red h1 {
  color: #fff;
}
.generalTitle__solid_blue {
  background: var(--blue);
}
.generalTitle__solid_blue h1 {
  color: #fff;
}

/*Slider*/
.btn {
  position: absolute;
  top: 43%;
  z-index: 9;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
  background: transparent;
}
.btnPrev {
  left: 0;
  border: none;
}
.btnPrev:hover {
  transform: scale(1.1);
}
.btnNext {
  right: 0px;
  border: none;
}
.btnNext:hover {
  transform: scale(1.1);
}
.general__wrap {
  margin: 0 5%;
}
.saleSlider img {
  width: 98%;
  border-radius: 20px;
  /* box-shadow: rgba(0, 0, 0, 0.36) 0px 3px 17px; */
  filter: drop-shadow(0px 3px 17px rgba(0, 0, 0, 0.36));
}
.saleSlider img:hover + .saleSlider__text {
  opacity: 1;
}
.saleSlider .slick-slide {
  outline: none;
  position: relative;
}
.saleSlider__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 98%;
  height: 40%;
  background: linear-gradient(360deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  padding: 0 10%;
  box-sizing: border-box;
  opacity: 0;
  transition: 0.3s;
}
ul.slick-dots {
  display: flex !important;
  list-style-type: none;
}
ul.slick-dots li button {
  border-radius: 50%;
  background: #c4c4c4;
  font-size: 0;
  border: none;
  outline: none;
  width: 10px;
  height: 10px;
  padding: 0;
  margin-right: 20px;
}
ul.slick-dots li.slick-active button {
  background: #000;
}
/*/Slider/*/

/*Portfolio*/
.portfolioSlider__current {
  transition: 0.4s;
}
.portfolioSlider img {
  width: 100%;
}
.portfolioSlider__current img {
  width: 98%;
  max-height: 550px;
}
.portfolioSlider ul.slick-dots li button {
  font-size: 20px;
  background: transparent;
  width: auto;
  height: auto;
}
.portfolioSlider ul.slick-dots li.slick-active button {
  color: var(--red);
}

/*/Portfolio/*/
.generalTitlePortfolio {
  margin-bottom: 80px;
}
.portfolio__wrap {
  margin: 0 15%;
}
.generalTitle__sale {
  margin: 140px 0;
}
/*Services*/
.generalTitle__solid_blue {
  margin-bottom: 56px;
}
.sevices_slider .slick-slide {
  outline: 0;
}
.services__wrap {
  margin-right: 0;
}
.servicesSlide__wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 2.5%;
  filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.36));
}
.servicesSlide__wrap img {
  width: 100%;
}
.servicesSlide__Hovercontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: #fff;
  transition: 0.3s;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0 5%;
}
.servicesSlide__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 130px;
  background: #fff;
}
.servicesDropdown {
  position: relative;
  width: 80%;
  height: 50px;
}
.servicesDropdown::after {
  content: "";
  position: absolute;
  right: 0;
  top: 25%;
}
.servicesDropdown input {
  width: 100%;
  height: 100%;
  background: #ffffff;
  border: 1px solid #000000;

  box-sizing: border-box;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}
ul.sevices__dropDown {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  overflow-y: scroll;
  background: #fff;
  padding: 0;
  margin: 0;
  border: 1px solid #000000;
  border-top-color: #c4c4c4;
  box-sizing: border-box;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: 0.3s;

  opacity: 0;
}
ul.sevices__dropDown::-webkit-scrollbar {
  width: 4px;
}
ul.sevices__dropDown::-webkit-scrollbar-thumb {
  background: #c4c4c4;
}
ul.sevices__dropDown li {
  display: flex;
  align-items: center;
  list-style-type: none;
  width: 100%;
  height: 25%;
  padding: 0;
  transition: 0.3s;
  cursor: pointer;
  padding-left: 5%;
}
ul.sevices__dropDown li:hover {
  background: #c4c4c4;
}
.portfolioSlider ul.slick-dots {
  position: absolute;
  top: -8%;
  left: 0;
  width: 100%;
}
.portfolioSlider__current-for {
  margin-bottom: 35px;
}
.portfolioSlider__current-nav .slick-slide,
.portfolioSlider__current-for .slick-slide {
  outline: none;
}
.portfolioSlider__current-nav .slick-slide img {
  width: 98%;
  border: 2px solid transparent;
}
.portfolioSlider__current-nav .slick-current img {
  transition: 0.3s;
  border: 2px solid var(--red);
}

/*/Services/*/
/* Adaptation */

@media (max-width: 1300px) {
  .courses__box span {
    font-size: 18px;
  }
  .courses__box ul li {
    font-size: 14px;
  }
}
@media (max-width: 1440px) {
  .services__box {
    width: 95%;
  }
  .header__main__text a {
    width: 35%;
  }
}
@media (max-width: 1200px) {
  p.services__box__article {
    font-size: 20px;
  }
}
@media (max-width: 900px) {
  #root {
    overflow: hidden;
  }
  header {
    overflow: hidden;
  }
  .header__nav ul.main_nav {
    display: none;
  }
  .header__nav ul.main_navMobil {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #fff;
    transition: 0.3s;
    z-index: 99;
    list-style: none;
    padding: 0;
  }
  .header__nav ul.main_navMobil a {
    color: #000;
  }
  .header__nav ul.main_navMobil a li {
    font-family: Raleway;
    font-size: 24px;
    margin: 20px 25px;
  }
  .header__nav ul.main_navMobil li.mobilMenuCross {
    align-self: flex-end;
    margin: 25px 25px 10px 0;
  }
  .header__wrap {
    padding: 5%;
  }
  img.header__bg__left_top {
    display: none;
  }
  img.header__bg__left_bottom {
    display: none;
  }
  img.header__bg__right_top {
    display: none;
  }
  .header__main {
    flex-direction: column;
  }
  .header__main__text {
    width: 74%;
  }
  .header__main__text span {
    width: 65%;
  }
  .header__main__text p {
    margin: 20px 0 30px 0;
  }
  .header__main__sn {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .header__main__language {
    display: none;
  }
  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
  }
  .header__nav .header__main__language {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 10%;
    margin: 0;
  }
  .header__nav .header__main__language hr {
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: 1px solid #fff;
    height: 20px;
    width: 1px;
  }
  .header__main img.girl {
    bottom: -7.8%;
    right: -56.3%;
    width: 116%;
  }
  .header__main__sn {
    flex-direction: row;
    width: 55%;
    justify-content: space-between;
  }

  /* Services */
  .services__wrap {
    width: 95%;
  }
  .services__box {
    width: 95%;
  }
  .srvice__lastSlide_opacity {
    display: none;
  }
  p.services__box__article {
    font-size: 16px;
  }
  p.services__box__time {
    font-size: 14px;
  }
  .title__top_left,
  .title__top_right {
    display: none;
  }

  /* Portfolio */
  section.portfolio {
    background: #f9f5f1;
    padding-bottom: 30px;
  }
  .port__slider__mobil {
    display: block;
    margin-left: 6%;
  }
  .portolio__wrap {
    width: 100%;
  }
  .port__slider {
    display: none;
  }
  .portfolio__slideButton {
    display: none;
  }
  .slick-slide img {
    width: 95%;
  }
  .portfolio__toogle {
    display: flex;
    align-items: center;
    height: 65px;
    overflow-x: auto;
    white-space: nowrap;
    background: #fff;
    margin-bottom: 30px;
    justify-content: unset;
  }
  .portfolio__toogle label {
    margin: 0;
    padding: 0 10px;
  }

  /* Courses */

  img.courses_bg {
    display: none;
  }
  .courses__wrap {
    width: 90%;
  }
  .courses__content {
    flex-direction: column;
  }
  .courses__box {
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
    padding-top: 20px;
    height: 363px;
  }
  .courses__box span {
    width: 100%;
  }

  /* about */

  img.about_bg {
    display: none;
  }
  .about__box img.about_quotes {
    top: 28%;
    left: 4%;
    width: 7%;
  }
  .about__wrap {
    width: 90%;
  }
  .about__contentWrap {
    width: 100%;
  }
  .about__box {
    max-width: 100%;
    padding: 200px 20px 30px;
  }
  .about_title_desc {
    display: block;
    padding: 15px 0 150px 0 !important;
  }
  img.about_paint {
    display: none;
  }
  .about__box .about_photo {
    display: flex;
    justify-content: center;
    align-items: center;
    top: -24%;
    left: 26%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
    border: 10px solid #fff;
    width: 300px;
    height: 300px;
  }
  .about__box .about_photo img {
    width: auto;
    height: 105%;
    margin: 0 auto;
  }
  .about__box__btn label {
    width: 70%;
  }
  .about__box__title p {
    margin: 0 0 0 10%;
  }

  /* reviews */
  .rev__toogle_wrap {
    width: 50%;
    height: 50px;
    user-select: none;
    background: #fff;
  }
  .reviews__toogle label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .reviews__wrap {
    height: 660px;
  }

  /* form */

  .form__wrap {
    width: 100%;
  }
  .form__application {
    width: 100%;
    padding-bottom: 40px;
  }
  .form_img {
    display: none;
  }
  .form__application form {
    width: 90%;
  }

  /* footer */

  .footer__logo a {
    width: 90%;
  }
  .footer__nav {
    width: 100%;
  }
  .footer__nav ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
  }
  .footer__nav ul a li {
    font-size: 24px;
    margin-bottom: 25px;
    margin-top: 25px;
  }
  .footer__bottom {
    flex-flow: column;
    align-items: center;
    flex-direction: column;
  }
  .footer__copywriting {
    order: 2;
  }
  .footer__sn {
    order: 1;
  }
  .footer__sn a {
    width: auto;
    margin: 0 35px;
  }
  .footer__sn a img {
    width: 130%;
  }
  .footer__copywriting p {
    font-size: 16px;
  }
}

@media (max-width: 580px) {
  .header__nav .header__main__language {
    width: 14%;
  }
  .header__main__text p {
    font-size: 14px;
  }
  .header__main__text a {
    width: 55%;
  }
  .header__main__sn {
    padding-top: 20px;
  }
}

@media (max-width: 450px) {
  /* about */
  .about__box .about_photo {
    top: -19%;
    left: 13%;
    width: 260px;
    height: 260px;
  }

  /* reviews */

  .reviews__wrap {
    height: 560px;
  }
  .header__nav .header__main__language {
    width: 20%;
  }
}

@media (max-width: 350px) {
  .header__nav .header__main__language {
    width: 22%;
  }
}
