body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 14px;
  overflow-x: hidden;
  --red: #fd0000;
  --blue: #004cfe;
}
#root {
  position: relative;
  overflow-x: hidden;
}
#scrollUp {
  position: fixed;
  bottom: 30px;
  left: 20px;
  width: 45px;
  height: 45px;
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
  transform: translateX(-80px);
  transition: all 0.3s;
  border-radius: 50%;
}
p,
span,
li,
label {
  margin: 0;
  padding: 0;
}
/* Header */
/* header {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 2;
}
img.header__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}
.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  z-index: 1;
  transform: translateY(40px);
}
.header__logo {
  display: flex;
  justify-content: center;
  flex: 1;
}
nav {
  display: flex;
  justify-content: space-around;
  flex: 2;
}
nav span {
  color: #000;
  font-weight: 600;
  cursor: pointer;
}
.header__place {
  display: flex;
  justify-content: space-around;
  flex: 2;
}
.header__place__block {
  display: flex;
  align-items: center;
}
.header__place__block img {
  margin-right: 15px;
  box-sizing: border-box;
}
.header__place__phones p {
  padding: 5px 0;
} */
header {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 2;
}
img.header__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}
.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  z-index: 1;
  transform: translateY(40px);
}
.header__logo {
  display: flex;
  justify-content: center;
  flex: 1;
}
nav {
  display: flex;
  justify-content: space-around;
  flex: 2;
}
nav span {
  color: #000;
  font-weight: 600;
  cursor: pointer;
}
.header__place {
  display: flex;
  justify-content: space-around;
  flex: 2;
}
.header__place__block {
  display: flex;
  align-items: center;
}
.header__place__block img {
  margin-right: 15px;
  box-sizing: border-box;
}
.header__place__phones p {
  padding: 5px 0;
}
/*Main Screen*/
section.mainScreen {
  height: calc(100vh - 140px);
  position: relative;
  z-index: 1;
}
img.mainScreen__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.mainScreen__wrap {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 1;
  margin-left: 10%;
}
/*/Main Screen/*/
.generalTitle {
  position: relative;
  display: flex;

  width: 100%;
}
.generalTitle h1 {
  background: linear-gradient(
    180deg,
    rgba(234, 234, 234, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  display: inline-block;
  font-size: 100px;
}
.generalTitle_left {
  justify-content: flex-start;
}
.generalTitle_right {
  justify-content: flex-end;
}

/*Slider*/
.btn {
  position: absolute;
  top: 43%;
  width: 100px;
  height: 100px;
  z-index: 9;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
  background: transparent;
}
.btnPrev {
  left: 0;
  border: none;
}
.btnPrev:hover {
  transform: scale(1.1);
}
.btnNext {
  right: 0px;
  border: none;
}
.btnNext:hover {
  transform: scale(1.1);
}
.general__wrap {
  margin: 0 5%;
}
/*/Slider/*/

/*Services*/
.servicesDots {
  width: 100%;
  height: fit-content;
}
a.servisec__main_nav {
  color: #626262;
  cursor: pointer;
  margin-right: 20px;
}
.generalTitle__solid_blue {
  margin-bottom: 56px;
}
.sevices_slider .slick-slide {
  outline: 0;
}
section.services {
  background: rgb(207, 207, 207);
}
.services__wrap {
  margin: 0 0 0 15%;
}
.sevices_current__slide {
  display: flex;
  justify-content: space-between;
}
.scs__description {
  width: 40%;
}
.scs__slider {
  width: 40%;
}
.scsd__title {
  margin-bottom: 70px;
}
.scsd__title h3 {
  font-size: 48px;
}
.scsd__dropdown {
  width: 60%;
  height: 30px;
  margin-bottom: 25px;
}
.scsd__dropdown input {
  width: 100%;
  height: 100%;
  background: #fff;
  color: #000;
  font-weight: 600;
  border: 1px solid #d9d9d9;
  outline: none;
  margin-bottom: 20px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
}
.scsd__timeANDprice {
  display: flex;
  width: 60%;
  justify-content: space-between;
  margin-bottom: 45px;
}
.scsd__time img {
  margin-right: 15px;
}
.scsd__price p {
  font-weight: 600;
}
.scsd__time {
  display: flex;
}
.scsd__description {
  width: 70%;
  margin-bottom: 30px;
}
.mainBTN {
  width: 200px;
  height: 55px;
  background: #fff;
  border: 2px solid #fd0000;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  cursor: pointer;
  font-weight: 600;
}
.mainBTN span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  width: 100%;
  height: 100%;
  cursor: pointer;
  font-weight: 600;
}
.sevices__drop__slider ul.slick-dots {
  position: absolute;
  top: 46.8%;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 0;
  background: #fff;
  width: 24.3%;
  height: 0px;
  border: 1px solid #d9d9d9;
  margin: 0;
  transition: 0.3s;
  box-sizing: border-box;
  overflow-y: scroll;
  max-height: 100px;
}
.sevices__drop__slider ul.slick-dots li {
  display: flex;
  align-items: center;
  height: 40px;
  cursor: pointer;
  transition: 0.3s;
}
.sevices__drop__slider ul.slick-dots li:hover {
  background: #d9d9d9;
}
.scs__slide__current {
  transition: 0.3s;
  display: flex;
  align-items: center;
  width: 440px;
  height: 440px;
}
.scs__slide__current img {
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transition: 0.3s;
}
.scs__slider .slick-current .scs__slide__current img {
  width: 440px;
  height: 440px;
}
.service_drop_dots ul {
  flex-direction: column;
}
.service_drop_dots ul li a {
  cursor: pointer;
}
/*/Services/*/

/*Portfolio*/
.portfolioSlider__current {
  transition: 0.4s;
}
.portfolioSlider img {
  width: 100%;
  margin: 0 auto;
}
.portfolioSlider__current-nav {
  margin-bottom: 100px;
}
.portfolioSlider__current-nav .slick-list .slick-slide {
  margin: 10px;
}
.portfolioSlider__current-nav button.btn {
  top: 105%;
}
.portfolioSlider__current-nav button.btnPrev {
  left: 35%;
}
.portfolioSlider__current-nav button.btnNext {
  right: 35%;
}
.portfolioSlider__current-for {
  margin-bottom: 20px;
}
.portfolioSlider__current img {
  width: 98%;
  max-height: 550px;
}
.portfolioSlider ul.slick-dots li button {
  font-size: 20px;
  background: transparent;
  width: auto;
  height: auto;
}
.portfolioSlider ul.slick-dots li.slick-active button {
  color: var(--red);
}
.portfolioSlider ul.slick-dots {
  position: absolute;
  top: 0;
}
.portfolioDots__wrap {
  display: flex;
  position: relative;
  margin-bottom: 50px;
  z-index: 5;
}
.portfolioDots {
  position: absolute;
  top: 0;
  left: 0;
}
.portfolioDots__wrap h2 {
  font-size: 48px;
  color: #9f9a8e;
  margin: 0;
  margin-right: 10%;
}
.portfolioDots__wrap .portfolioDots__drop {
  position: relative;
  width: 32%;
  height: 35px;
}
input.portfolio__dropInput {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  outline: none;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0;
}
.portfolioDots__drop::after {
  content: url(../img/inputArrDown.svg);
  position: absolute;
  display: block;
  right: 3%;
  top: 35%;
  width: 15px;
  height: 15px;
}
.portfolioDots__dropUp::after {
  content: url(../img/inputArrUp.svg);
  position: absolute;
  display: block;
  right: 3%;
  top: 35%;
  width: 15px;
  height: 15px;
}
.portfolioDots {
  width: 100%;
  height: 0;
  transition: 0.3s;
}
.portfolioDots ul.slick-dots {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  max-height: 300px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  overflow-y: scroll;
  transition: 0.3s;
}
.portfolioDots ul.slick-dots::-webkit-scrollbar {
  width: 4px;
  background: #fd0000;
}
.portfolioDots ul.slick-dots li {
  display: block;
}
.portfolioDots ul.slick-dots li a {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 35px;
}
.portfolioDots ul.slick-dots li a:hover {
  background: #a79e8b;
}
.portfolioSlideCount {
  display: flex;
  justify-content: flex-end;
  width: 7%;
  float: right;
}
.portfolioSlideCount span {
  font-size: 18px;
}
.portfolioSlideCount hr {
  width: 70%;
  height: 100%;
  margin-left: 5px;
  margin-right: 5px;
}
/*/Portfolio/*/

.generalTitlePortfolio {
  margin-bottom: 80px;
}
.portfolio__wrap {
  margin: 0 15%;
}
/* Adaptation */

/*Sale*/
.saleSlider .slick-list img {
  width: 98%;
  border-radius: 100px 0px;
}
.saleSlider .slick-slide {
  outline: none;
  position: relative;
  overflow: hidden;
}
.saleSlider .slick-dots li.slick-active button {
  background: #fd0000;
}
.saleSlider .slick-dots {
  position: absolute;
  top: -15%;
  right: 20%;
}
.saleSlider__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 98%;
  height: 50%;
  background: linear-gradient(360deg, #a58677 0%, rgba(255, 255, 255, 0) 100%);
  padding: 0 10%;
  box-sizing: border-box;
  transition: 0.3s;
  border-radius: 100px 0px;
}
ul.slick-dots {
  display: flex !important;
  list-style-type: none;
}
ul.slick-dots li button {
  border-radius: 50%;
  background: #c4c4c4;
  font-size: 0;
  border: none;
  outline: none;
  width: 10px;
  height: 10px;
  padding: 0;
  margin-right: 20px;
}
.saleSlider .btn {
  top: unset;
  bottom: -35%;
}
.saleSlider .btnPrev {
  left: 40%;
}
.saleSlider .btnNext {
  right: 40%;
}
/*/Sale/*/

/*About*/
section.about {
  width: 100%;
}
.about__wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.about__logo {
  width: 100%;
  display: flex;
  justify-content: center;
}
.about__about {
  display: flex;
  width: 100%;
}
.about__img {
  width: 35%;
}
.about__img img {
  width: 100%;
  border-radius: 70px 70px 70px 0px;
}
.about__text {
  width: 35%;
  margin-left: 2%;
}
.about__text__title {
  margin-bottom: 30px;
}
.about__text__title h3 {
  font-weight: 600;
}
.about__text__description {
  margin-bottom: 30px;
}
.about__text__description {
  padding-left: 1%;
  box-sizing: border-box;
}
.about__text__sn {
  display: flex;
  padding-left: 1%;
}
.about__text__sn a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: #fd0000;
  border-radius: 50%;
  margin-right: 10px;
}
.about__text__sn a img {
  width: 55%;
  height: 55%;
}

.about__advantages {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.aboutAdv__icon {
  display: flex;
  flex-direction: column;
  width: 55%;
}
.aboutAdv__icon__icons {
  display: flex;
  justify-content: space-around;
}
.aboutAdv__icon__icons__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutAdv__icon__icons__block img {
  margin-bottom: 15px;
}
.aboutAdv__icon__icons__block p {
  font-weight: 600;
}
.aboutAdv__icon__btn {
  display: flex;
  justify-content: flex-end;
  padding-right: 15%;
  margin-top: 60px;
  box-sizing: border-box;
}
.aboutAdv__img {
  width: 35%;
}
.aboutAdv__img img {
  border-radius: 70px 0px 70px 70px;
  width: 100%;
}
/*/About/*/

/*Reviews*/

.reviews__toogle {
  display: flex;
  width: 100%;
  justify-content: center;
  transform: translateX(-10%);
}
.reviews__toogle li {
  position: relative;
  margin: 0 40px;
  transition: 0.3s;
}
.reviews__toogle li a {
  cursor: pointer;
  color: #787878;
  font-weight: 400;
}

.reviews__toogle .slick-dots .slick-active a {
  color: #000;
  font-weight: 600;
}
.reviews__toogle .slick-dots .slick-active::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fd0000;
}
.reviewsSliderCurrent .slick-dots li {
  width: 50%;
}
.reviewsSliderCurrent .slick-dots li button {
  height: 2px;
  width: 100%;
  border-radius: 0;
  background: #cdcdcd;
}
.reviewsSliderCurrent .slick-dots li.slick-active button {
  background: #696969;
}
.reviewsSliderCurrent .slick-slide a {
  outline: none;
}
.reviewsSliderCurrent .slick-dots {
  width: 90%;
}
.reviewsSlider .slick-slide a {
  outline: none;
}
/*/Reviews/*/

/*Instagram*/
.instagram__wrap {
  display: flex;
  flex-direction: column;
}
/*/Instagram/*/

@media (max-width: 1300px) {
  .courses__box span {
    font-size: 18px;
  }
  .courses__box ul li {
    font-size: 14px;
  }
}
@media (max-width: 1440px) {
  .services__box {
    width: 95%;
  }
  .header__main__text a {
    width: 35%;
  }
}
@media (max-width: 1200px) {
  p.services__box__article {
    font-size: 20px;
  }
}
@media (max-width: 900px) {
  #root {
    overflow: hidden;
  }
  header {
    overflow: hidden;
  }
  .header__nav ul.main_nav {
    display: none;
  }
  .header__nav ul.main_navMobil {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #fff;
    transition: 0.3s;
    z-index: 99;
    list-style: none;
    padding: 0;
  }
  .header__nav ul.main_navMobil a {
    color: #000;
  }
  .header__nav ul.main_navMobil a li {
    font-family: Raleway;
    font-size: 24px;
    margin: 20px 25px;
  }
  .header__nav ul.main_navMobil li.mobilMenuCross {
    align-self: flex-end;
    margin: 25px 25px 10px 0;
  }
  .header__wrap {
    padding: 5%;
  }
  img.header__bg__left_top {
    display: none;
  }
  img.header__bg__left_bottom {
    display: none;
  }
  img.header__bg__right_top {
    display: none;
  }
  .header__main {
    flex-direction: column;
  }
  .header__main__text {
    width: 74%;
  }
  .header__main__text span {
    width: 65%;
  }
  .header__main__text p {
    margin: 20px 0 30px 0;
  }
  .header__main__sn {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .header__main__language {
    display: none;
  }
  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
  }
  .header__nav .header__main__language {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 10%;
    margin: 0;
  }
  .header__nav .header__main__language hr {
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: 1px solid #fff;
    height: 20px;
    width: 1px;
  }
  .header__main img.girl {
    bottom: -7.8%;
    right: -56.3%;
    width: 116%;
  }
  .header__main__sn {
    flex-direction: row;
    width: 55%;
    justify-content: space-between;
  }

  /* Services */
  .services__wrap {
    width: 95%;
  }
  .services__box {
    width: 95%;
  }
  .srvice__lastSlide_opacity {
    display: none;
  }
  p.services__box__article {
    font-size: 16px;
  }
  p.services__box__time {
    font-size: 14px;
  }
  .title__top_left,
  .title__top_right {
    display: none;
  }

  /* Portfolio */
  section.portfolio {
    background: #f9f5f1;
    padding-bottom: 30px;
  }
  .port__slider__mobil {
    display: block;
    margin-left: 6%;
  }
  .portolio__wrap {
    width: 100%;
  }
  .port__slider {
    display: none;
  }
  .portfolio__slideButton {
    display: none;
  }
  .slick-slide img {
    width: 95%;
  }
  .portfolio__toogle {
    display: flex;
    align-items: center;
    height: 65px;
    overflow-x: auto;
    white-space: nowrap;
    background: #fff;
    margin-bottom: 30px;
    justify-content: unset;
  }
  .portfolio__toogle label {
    margin: 0;
    padding: 0 10px;
  }

  /* Courses */

  img.courses_bg {
    display: none;
  }
  .courses__wrap {
    width: 90%;
  }
  .courses__content {
    flex-direction: column;
  }
  .courses__box {
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
    padding-top: 20px;
    height: 363px;
  }
  .courses__box span {
    width: 100%;
  }

  /* about */

  img.about_bg {
    display: none;
  }
  .about__box img.about_quotes {
    top: 28%;
    left: 4%;
    width: 7%;
  }
  .about__wrap {
    width: 90%;
  }
  .about__contentWrap {
    width: 100%;
  }
  .about__box {
    max-width: 100%;
    padding: 200px 20px 30px;
  }
  .about_title_desc {
    display: block;
    padding: 15px 0 150px 0 !important;
  }
  img.about_paint {
    display: none;
  }
  .about__box .about_photo {
    display: flex;
    justify-content: center;
    align-items: center;
    top: -24%;
    left: 26%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
    border: 10px solid #fff;
    width: 300px;
    height: 300px;
  }
  .about__box .about_photo img {
    width: auto;
    height: 105%;
    margin: 0 auto;
  }
  .about__box__btn label {
    width: 70%;
  }
  .about__box__title p {
    margin: 0 0 0 10%;
  }

  /* reviews */
  .rev__toogle_wrap {
    width: 50%;
    height: 50px;
    user-select: none;
    background: #fff;
  }
  .reviews__toogle label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .reviews__wrap {
    height: 660px;
  }

  /* form */

  .form__wrap {
    width: 100%;
  }
  .form__application {
    width: 100%;
    padding-bottom: 40px;
  }
  .form_img {
    display: none;
  }
  .form__application form {
    width: 90%;
  }

  /* footer */

  .footer__logo a {
    width: 90%;
  }
  .footer__nav {
    width: 100%;
  }
  .footer__nav ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
  }
  .footer__nav ul a li {
    font-size: 24px;
    margin-bottom: 25px;
    margin-top: 25px;
  }
  .footer__bottom {
    flex-flow: column;
    align-items: center;
    flex-direction: column;
  }
  .footer__copywriting {
    order: 2;
  }
  .footer__sn {
    order: 1;
  }
  .footer__sn a {
    width: auto;
    margin: 0 35px;
  }
  .footer__sn a img {
    width: 130%;
  }
  .footer__copywriting p {
    font-size: 16px;
  }
}

@media (max-width: 580px) {
  .header__nav .header__main__language {
    width: 14%;
  }
  .header__main__text p {
    font-size: 14px;
  }
  .header__main__text a {
    width: 55%;
  }
  .header__main__sn {
    padding-top: 20px;
  }
}

@media (max-width: 450px) {
  /* about */
  .about__box .about_photo {
    top: -19%;
    left: 13%;
    width: 260px;
    height: 260px;
  }

  /* reviews */

  .reviews__wrap {
    height: 560px;
  }
  .header__nav .header__main__language {
    width: 20%;
  }
}

@media (max-width: 350px) {
  .header__nav .header__main__language {
    width: 22%;
  }
}
